<template lang="pug">
  div
    h2 About
</template>

<script lang="ts">
  import Vue from "vue";
  import Component from "vue-class-component";

  @Component({})
  export default class About extends Vue {}
</script>

<style lang="scss" scoped>
  * {
    background: green;
  }
</style>
