doctype html
html
  head
    meta(charset="UTF-8")
    title random WebApp
    script(crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?flags=gated")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
  body
    #app
