doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" type="text/scss" href="./style.scss")
    body
        .rounded.bg-teal-300 Test
